@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
  margin-top: 105px;
}

.navbar {
  box-shadow: 2px 2px 2px $primary;
  background-color: $white;
  opacity: 0.8;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
  }
}

#showcase {
  min-height: 600px;
  position: relative;
  background: url("/dist/img/mountains.jpg") 70% 20%;
  background-size: cover;

  .primary-overcase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary-overlay;
  }
}
