@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
  margin-top: 105px;
}

.navbar {
  box-shadow: 2px 2px 2px $primary;
  background-color: $white;
  opacity: 0.8;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
  }
}

#showcase {
  min-height: 600px;
  position: relative;
  background: url("/dist/img/mountains.jpg") 70% 20%;
  background-size: cover;

  .primary-overcase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary-overlay;
  }
}

#authors {
  img {
    margin-top: -50px;
  }

  .card {
    position: relative;
    transition: all 0.4s 0s ease-out;

    &:hover {
      box-shadow: 9px 10px 26px -4px rgba(0, 0, 0, 0.75);

      h3 {
        color: $primary;
      }

      h5::after {
        width: 100%;
        transition: all 0.5s 0s ease-out;
      }

      .social {
        a {
          animation: bounce linear 0.5s 3;
        }
      }
    }

    h5 {
      position: relative;
      padding-bottom: 1rem;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 0;
        height: 1px;
        background: $danger;
      }
    }
  }
}

@keyframes bounce {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

// class for the centered content like a title or header etc.
.content-centered {
  width: 50%;
  max-width: 50%;
  margin: auto;

  border-bottom: 2px solid $gray-300;
}

// media queries
@media (min-width: 768px) and (max-width: 1024px) {
  #wishes {
    .card-title,
    .card-header {
      font-size: 1.5rem;
    }

    .card-text {
      font-size: 1rem;
    }
  }

  #authors {
    .card {
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;

    h1 {
      font-size: 3.5rem;
    }
  }

  // castom class for margin-bottom on small size devices
  .sm-dev-margin {
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  #showcase {
    min-height: 500px;

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  #about,
  #authors {
    h1,
    .card-header {
      font-size: 1.8rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 360px) {
  #showcase {
    min-height: 400px;

    h1 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.8rem;
    }
  }

  #wishes {
    .card-title,
    .card-header {
      font-size: 1.2rem;
    }

    .card-text {
      font-size: 0.9rem;
    }
  }

  #about {
    h1,
    .card-header {
      font-size: 1.4rem;
    }

    p {
      font-size: 0.9rem;
    }
  }
}
